<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 - Page not found</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/assets/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="home-center">
    <div class="content-fade">
        <h1>404</h1>
        <p>Page not found</p>
        <p>Did you run main.r?</p>
        <button onclick="location.href='/'">Back to Overview</button>
    </div>
</body>
</html>